#app2 .tab-bar {
  height: 40px;
  display: flex;
}
#app2 .tab-bar > li {
  width: 50%;
  border: 3px solid blue;
}
#app2 .tab-bar > li.section {
  background-color: blue;
  color: white;
}
#app2 .tab-content li {
  display: none;
}
#app2 .tab-content li.active {
  display: block;
}
