#app4 {
  padding: 100px;
}
#app4 .round {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}
@keyframes change {
  0% {
    background-color: red;
  }
  100% {
    background-color:blue;
  }
}
#app4 .round.active {
  animation: change 1s infinite linear alternate;
}
